<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Python basics</title>
    <link rel="stylesheet" href="revealjs/css/theme/black.css">
</head>
<body class="reveal" style="margin: auto; max-width: 25cm; padding: 1em">
<h1>Pycubator</h1>

<p>Hello and welcome to the Python incubator training course, where do you want to go?
</p>
<ol>
    {% for _, filename, title in slides %}
    <li><a href={{ filename }}>{{ title }}</a></li>
    {% endfor %}
</ol>
<footer>
    <p>
        <small>Created by Udi Oron (<a href="https://twitter.com/nonZero">@nonZero</a>) and
            Noam Elfanbaum (<a href="http://twitter.com/noamelf">@noamelf</a>)
        </small>
    </p>
</footer>
</body>
</html>